In [1]:
import pandas as pd
df = pd.read_csv('spam.csv')
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [3]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [5]:
df['spam'] = df['Category'].apply(lambda x:1 if x=='spam' else 0)
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df.Message,df.spam,test_size=0.25)

In [7]:
len(x_train)

4179

In [8]:
len(x_test)

1393

#### Convert Message into numbers using CountVectorizer technique

In [9]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
x_train_count = v.fit_transform(x_train.values)
x_train_count.toarray()[0:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [11]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(x_train_count,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [12]:
emails = [
    "Hey Rishi can we got to watch football tomorrow?",
    "Upto 20% discount on parking,exclusive offer just for you.Don't miss this reward"
]
email_counts = v.transform(emails)
model.predict(email_counts)

array([0, 1])

In [13]:
x_test_count = v.transform(x_test)
model.score(x_test_count,y_test)

0.990667623833453

#### Using Pipeline for transformation

In [14]:
from sklearn.pipeline import Pipeline
clf = Pipeline([
    ('vectorizer',CountVectorizer()),
    ('nb',MultinomialNB())
])

In [16]:
clf.fit(x_train,y_train)

Pipeline(memory=None,
     steps=[('vectorizer', CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)), ('nb', MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True))])

In [17]:
clf.score(x_test,y_test)

0.990667623833453

In [18]:
clf.predict(emails)

array([0, 1])

#### Exercise on sklean wine dataset

In [21]:
from sklearn.datasets import load_wine
wine = load_wine()

In [22]:
dir(wine)

['DESCR', 'data', 'feature_names', 'target', 'target_names']

In [74]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(wine.data,wine.target,test_size=0.3)

In [62]:
len(x_train)

124

In [63]:
len(x_test)

54

In [75]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()

In [76]:
gnb.fit(x_train,y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [77]:
gnb.score(x_test,y_test)

0.9814814814814815

In [95]:
for i in range(10):
    print(gnb.predict([x_test[i]]))

[1]
[1]
[0]
[2]
[1]
[0]
[2]
[1]
[1]
[0]

In [78]:
from sklearn.naive_bayes import MultinomialNB
mnb = MultinomialNB()

In [79]:
mnb.fit(x_train,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [80]:
mnb.score(x_test,y_test)

0.8148148148148148

In [94]:
for i in range(10):
    print(mnb.predict([x_test[i]]))

[1]
[1]
[0]
[2]
[1]
[0]
[2]
[1]
[2]
[0]

In [96]:
y_test[0:10]

array([1, 1, 0, 2, 1, 0, 2, 1, 1, 0])