In [1]:
x = lambda a:a+10
print(x(5))

15

In [2]:
x = lambda a,b:a*b
print(x(5,6))

30

In [3]:
x =lambda a,b,c:(a+b+c)/3
print(x(3,4,5))

4.0

In [5]:
def Num(n):
    return lambda a:a*n

myDouble = doubleNum(2)
myTriple = 
print(myDouble(11))

22

In [6]:
#lambda along with filter()
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61] 
finalList = list(filter(lambda x : x%2==0,li)) #to filter even numbers
print(finalList)
finalList1 = list(filter(lambda x: x%2!=0,li)) #to filter odd numbers
print(finalList1)

[22, 54, 62]
[5, 7, 97, 77, 23, 73, 61]

In [8]:
#lambda with map()
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
finalList = list(map(lambda x: x*2,li))  #changing list values using map
print(finalList)

[10, 14, 44, 194, 108, 124, 154, 46, 146, 122]

In [10]:
#lambda with reduce()
from functools import reduce
li = [5, 8, 10, 20, 50, 100] 
sum = reduce(lambda x,y: x+y , li)
print(sum)                            #(((((5+8)+10)+20)+50)+100)

193

In [31]:
import pandas as pd
s = pd.read_csv("stock.csv",squeeze=True)

#s.head()

def fun(num):
    if num<200:
        return "low"
    elif num>=200 and num<400:
        return "normal"
    else:
        return "high"
#apply fun to the dataset
new = s.apply(fun)

print(new.head())

print(new[1400],new[1500],new[1600])

print(new.tail())

0    low
1    low
2    low
3    low
4    low
Name: Stock Price, dtype: object
normal normal normal
3007    high
3008    high
3009    high
3010    high
3011    high
Name: Stock Price, dtype: object

In [57]:
import pandas as pd
s = pd.read_csv("stock.csv",squeeze=True)

new = s.apply(lambda x:x+5)
print(s.head() ,'\n', new.head(),'\n')
print(s.tail(),'\n',new.tail())

0    50.12
1    54.10
2    54.65
3    52.38
4    52.95
Name: Stock Price, dtype: float64
 0    55.12
1    59.10
2    59.65
3    57.38
4    57.95
Name: Stock Price, dtype: float64

3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, dtype: float64
 3007    777.88
3008    776.07
3009    778.18
3010    776.61
3011    787.22
Name: Stock Price, dtype: float64

In [43]:
#list Comprehension 
#odd square generation
oddSqr = [x**2 for x in range(1,11) if x%2!=0]
print(oddSqr)

[1, 9, 25, 49, 81]

In [44]:
#power of 2 till 8
powr_of_2 = [2**x for x in range(1,9)]
print(powr_of_2)

[2, 4, 8, 16, 32, 64, 128, 256]

In [56]:
#primes under 50
primes = [j for i in range(2,8) for j in range (i*2,50,i)]
nonprimes = [i for i in range(2,50) if i not in primes]
print(nonprimes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [64]:
#list for lowering the characters
print([x.lower() for x in ["A","B","C"]])

['a', 'b', 'c']

In [65]:
#list which extracts number
string = "my phone number is : 11122 !!"
num = [x for x in string if x.isdigit()]
print(num)

['1', '1', '1', '2', '2']

In [68]:
#list of lists for multiplication table
a=5
table=[[a,b,a*b] for b in range(1,11)]
for i in table:
    print(i)

[5, 1, 5]
[5, 2, 10]
[5, 3, 15]
[5, 4, 20]
[5, 5, 25]
[5, 6, 30]
[5, 7, 35]
[5, 8, 40]
[5, 9, 45]
[5, 10, 50]

In [84]:
#list slicing
st = [i for i in range(1,11)]
print(st)

st1_5 = st[1:5]
print(st1_5)

st5_8 = st[5:8]
print(st5_8)

st1_ = st[1:]
print(st1_)

st_5 = st[:5]
print(st_5)

st1_8_2 = st[1:8:2]
print(st1_8_2)

rev_st = st[::-1]
print(rev_st)

st9_5_2 = st[9:4:-2]
print(st9_5_2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 3, 4, 5]
[6, 7, 8]
[2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5]
[2, 4, 6, 8]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 8, 6]

In [102]:
#using dataframe
import pandas as pd 
data = pd.read_csv("stock.csv")
df = pd.DataFrame(data)
print(df["Stock Price"])

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
5        53.90
6        53.02
7        50.95
8        51.13
9        50.07
10       50.70
11       49.95
12       50.74
13       51.10
14       51.10
15       52.61
16       53.70
17       55.69
18       55.94
19       56.93
20       58.69
21       59.62
22       58.86
23       59.13
24       60.35
25       59.86
26       59.07
27       63.37
28       65.47
29       64.74
         ...
2982    675.22
2983    668.26
2984    680.04
2985    684.11
2986    692.10
2987    699.21
2988    694.49
2989    697.77
2990    695.36
2991    705.63
2992    715.09
2993    720.64
2994    716.98
2995    720.95
2996    719.85
2997    733.78
2998    736.96
2999    741.19
3000    738.63
3001    742.74
3002    739.77
3003    738.42
3004    741.77
3005    745.91
3006    768.79
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [104]:
#locating a specific row
import pandas as pd
data = pd.read_csv("stock.csv")
row = data.iloc[3]
print(row)

Stock Price    52.38
Name: 3, dtype: float64